<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070261261652-cgrjh03l6dttqrucchnqhctlt3j0ejkd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070261261652-cgrjh03l6dttqrucchnqhctlt3j0ejkd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1070261261652-km6lvenu27p0ptdvv6lodsvg6o8pleba.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAVmCjHCFiRCBHC-ChBjfo9ONjtr7UPRLU</string>
	<key>GCM_SENDER_ID</key>
	<string>1070261261652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.leocode.firebaseProject</string>
	<key>PROJECT_ID</key>
	<string>study-firebase-216e3</string>
	<key>STORAGE_BUCKET</key>
	<string>study-firebase-216e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070261261652:ios:f32358bdf56c6d0221a4c1</string>
	<key>DATABASE_URL</key>
	<string>https://study-firebase-216e3-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>