<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753903868400-oaj828vsrc7svr0i8jgt5grkiav0pq8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753903868400-oaj828vsrc7svr0i8jgt5grkiav0pq8v</string>
	<key>API_KEY</key>
	<string>AIzaSyDRv2ZlMI9yb8qDK1gx-HkLiFZtkXTbAxM</string>
	<key>GCM_SENDER_ID</key>
	<string>753903868400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appFirebaseShop</string>
	<key>PROJECT_ID</key>
	<string>sk-firebase-shop</string>
	<key>STORAGE_BUCKET</key>
	<string>sk-firebase-shop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753903868400:ios:5eddda3cdd4dd79a75a535</string>
</dict>
</plist>